@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: auto;
    font-family: "Inter", serif;
}

:root {
    --white: white;
    --black: black;
    --sim-grey: #F9F9F9;
}

/* Some Common CSS */

/* Text-color */

.white-color {
    color: var(--white);
}

.black-color {
    color: var(--black);
}

.sim-grey {
    color: var(--sim-grey);
}

.sim-orange {
    color: #ff9c32;
}

/* Width */

.max-width-1320px {
    max-width: 1320px;
}

/* Height */

.height-100-percentage {
    height: 100%;
}

/* Font Weight */

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* Font Size */

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-42px {
    font-size: 42px;
}

.font-size-65px {
    font-size: 65px;
}

/* Button */

.button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff9c32;
}

/* Border */

.border-bottom-2px-solid-white {
    border-bottom: 2px solid var(--white);
}

/* Section 1 */

.sec-1 {
    height: 50px;
    background-color: var(--black);
}

@media screen and (max-width: 410px) {
    .body .sec-1 {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        padding: 10px 0px !important;
    }

    .sec-1 .sec-1-container-1 {
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        margin-bottom: 10px;
    }

    .sec-1 .sec-1-container-2 {
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        padding: 0 10px;
    }

    .sec-1-container-2 img {
        width: 100% !important;
    }
}

/* Header Section */

header {
    height: 100px;
    background-color: var(--sim-grey);
}

.header-menu-contact {
    height: 100%;
}

.main-menu ul li {
    text-align: center;
    height: 100%;
}

.main-menu ul li a {
    line-height: 100px;
}

.main-menu ul li:hover a {
    color: #ff9c32;

}

.main-menu ul li:hover {
    border-bottom: 2px solid #ff9c32;
}

.header-call-us-sec {
    height: 100%;
    /* background-image: url(/Assets/Img\ 19.png); */
    background-color: #ff9c32;
    width: 300px;
    /* margin-right: -25px; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.5rem;
}

@media screen and (max-width: 1050px) {
    .body .header {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        padding: 20px 0;
    }

    .header .header-main-logo {
        width: 100% !important;
        margin: auto !important;
    }

    .header .header-menu-contact {
        width: 100% !important;
        display: block !important;
        width: 100% !important;
    }

    .header-menu-contact .main-menu {
        height: 80px;
    }

    .header-menu-contact .main-menu ul {
        justify-content: center !important;
    }

    .main-menu ul li a {
        line-height: 80px;
    }

    .header-menu-contact .header-call-us-sec {
        width: 40%;
        margin: 10px auto 0;
        padding: 10px 0;
    }

    .header-call-us-sec img {
        margin: auto;
    }
}

@media screen and (max-width: 560px) {

    .body .header {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        padding: 20px 0;
    }

    .header .header-main-logo {
        padding: 0 10px !important;
    }

    .header-main-logo img {
        width: 100% !important;
    }

    .header .header-menu-contact {
        height: auto !important;
    }

    .header-menu-contact .main-menu {
        height: auto !important;
    }

    .main-menu ul {
        display: block !important;
        width: 100% !important;
        height: auto !important;
    }

    .main-menu ul li {
        width: 100% !important;
        margin: auto;
    }

    .main-menu ul li:hover {
        border-bottom: none;
    }

    .header-menu-contact .header-call-us-sec {
        width: 100%;
        margin: 10px auto 0;
        padding: 10px;
    }

    .header-call-us-sec img {
        width: 100%;
        margin: auto;
    }
}

/* Section 3 */

.sec-3 {
    height: 400px;
}

.sec-3 h1 {
    margin-bottom: 8.5rem;
}

/* Carposel */
#carouselExampleDark [data-bs-slide] > span{
    filter: unset;
}

/* Section 4 */

.sec-4 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-4-img-sec {
    height: 100%;
}

.sec-4-img-sec img {
    width: 500px;
    height: 100%;
    margin-left: 68px;
}

.sec-4-text-sec {
    height: auto;
    padding-right: 150px;
}

@media screen and (max-width: 1300px) {
    .body .sec-4 {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
    }

    .sec-4 .sec-4-img-sec {
        width: 100% !important;
    }

    .sec-4-img-sec img {
        width: 50%;
        margin-left: 0;
    }

    .sec-4 .sec-4-text-sec {
        width: 100% !important;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {

    .body .sec-4 {
        padding: 70px 10px !important;
    }

    .sec-4-img-sec img {
        width: 100%;
        margin-left: 0;
    }

    .sec-4-text-sec .sec-4-main-heading {
        font-size: 30px !important;
    }
}

/* Section 5 */

.sec-5 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--sim-grey);
}

@media screen and (max-width: 500px) {

    .body .sec-5 {
        padding: 70px 10px !important;
    }

    .sec-5 .sec-5-main-heading {
        font-size: 30px !important;
    }
}

/* Section 6 */

.sec-6 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 500px) {

    .body .sec-6 {
        padding: 70px 10px !important;
    }

    .sec-6 .sec-6-main-heading {
        font-size: 30px !important;
    }
}

/* Section 7 */

.sec-7 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--sim-grey);
}

@media screen and (max-width: 500px) {

    .body .sec-7 {
        padding: 70px 10px !important;
    }

    .sec-7 .sec-7-main-heading {
        font-size: 30px !important;
    }
}

/* Section 8 */

.sec-8 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--white);
    background-image: url(/Assets/Img\ 13.png);
    background-repeat: no-repeat;
}

.sec-8-main-container {
    height: 100%;
    /* background-color: #bb9164; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sec-8-main-container .get-in-touch-sec {
    height: 100%;
    width: 60%;
    /* background-color: aqua; */
    padding: 40px 30px;
}

.sec-8-form-1-title p {
    width: 48%;
    /* height: 50px; */
    /* padding: 100x; */
    margin-bottom: 10px;
}

.sec-8-form-1-input {
    margin-bottom: 10px;
}

.sec-8-form-1-input input {
    width: 48%;
    border-radius: 5px;
    border: 2px solid var(--sim-grey);
    padding: 10px;
    outline: none;
}

.sec-8-form-2-input {
    width: 100%;
}

.sec-8-form-2-input p {
    /* width: 100%; */
    margin-bottom: 10px;
}

.sec-8-form-2-input input,
select {
    margin-bottom: 15px !important;
}

.sec-8-form-2-input input,
select,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--sim-grey);
    padding: 10px;
    outline: none;
}

.sec-8-form-2-input textarea {
    max-height: 110px;
}


.contact-info-sec {
    height: 100%;
    width: 40%;
    background-image: url(/Assets/Img\ 20.png);
    background-size: cover;
    border-radius: 5px;
}

.contact-info-content {
    padding: 30px 20px 10px 30px;
}

@media screen and (max-width: 1100px) {
    .sec-8 .sec-8-main-container {
        display: block !important;
        width: 100% !important;
    }

    .sec-8-main-container .get-in-touch-sec {
        width: 100%;
    }

    .sec-8-main-container .contact-info-sec {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .body .sec-8 {
        padding: 70px 10px !important;
    }

    .get-in-touch-sec .get-in-touch-sec-heading {
        font-size: 30px !important;
        text-align: center !important;
    }

    .get-in-touch-sec .sec-8-form-1-title,
    .sec-8-form-1-title p,
    .sec-8-form-1-input,
    .sec-8-form-1-input input {
        display: none !important;
    }

    .get-in-touch-sec .sec-8-form-2-input .d-none {
        display: block !important;
    }

    .get-in-touch-sec button {
        width: 100% !important;
    }

    .contact-info-content .contact-info-main-heading {
        font-size: 30px !important;
        text-align: center !important;
    }

    .contact-info-sec .contact-info-content {
        padding: 10px;
    }

    .contact-info-content div {
        display: block !important;
        text-align: center;
    }

    .contact-info-content div .ps-3 {
        padding-left: 0 !important;
    }
}

/* Footer Section */

footer {
    height: auto;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    background-color: var(--white);
    background-image: url(/Assets/Img\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}



